
.header{
    background-color: rgb(25, 101, 168);
    height: 90px;
}
.header #header-left{
    margin-top: 15px;
    color: rgb(217, 230, 237);
}
.header #header-right{
    margin-top: 15px;
    font-size:18px;
}
.header #header-left .user{
    text-align: center;
    line-height: 90px;
}
.header #header-left .user,h3{
    color: #f7f4c7;
}
.body{
    height: 560px;
    border: 1px solid rgb(131, 138, 139);
}
.body .body-left{
    background-color: rgba(231, 231, 226, 0.774);
    border: 1px solid rgb(131, 138, 139);
    height: 560px;
}
.body .body-left .body-li{
    margin-top: 10px;
    margin-left: 13px;
    font-size: 20px;
}
.body .body-right{
    background-color: rgb(230, 225, 225);
    border: 1px solid rgb(131, 138, 139);
    height: 560px;
}
.button{
    background-color: rgb(165, 165, 168);
    border: 1px solid rgb(132, 180, 186);
    height: 80px;
}
.button .button-text{
    color: rgb(231, 242, 247);
    font-size: 18px;
    text-align: center;
    line-height: 80px;
}
.page-header{
    margin-left: 10px;
}
.page-header h4{
    border-left:3px solid #329fe2; 
    padding-left: 5px;
}